/* reset styles
-----------------------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
}
input:focus,
textarea:focus,
a:focus,
button:focus,
select:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del,
s,
strike {
  text-decoration: line-through;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
  margin: 0;
}
.container {
  padding: 0 5px;
  margin: 0 auto;
  max-width: 768px;
}
@media (min-width: 480px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 767px) {
  .container {
    padding: 0 34px;
  }
}
.clear-fix:after {
  content: '';
  clear: both;
  display: table;
  width: 100%;
}
.header-article {
  padding-top: 18px;
}
@media (min-width: 480px) {
  .header-article {
    padding-top: 32px;
  }
}
@media (min-width: 767px) {
  .header-article {
    padding-top: 29px;
  }
}
.header-article .title-photo {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  letter-spacing: .47px;
  display: none;
  margin-top: 15px;
  font-size: 13px;
}
.header-article .photo-autor {
  font-family: 'Noto Sans', sans-serif;
  color: #acacac;
  letter-spacing: .2px;
  display: none;
  font-size: 13px;
  margin-top: 4px;
}
@media (min-width: 767px) {
  .header-article .title-photo,
  .header-article .photo-autor {
    display: block;
  }
}
.title-wrap {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  margin-bottom: 13px;
}
.title-wrap .title {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 14px;
  text-transform: uppercase;
}
.title-wrap:after {
  content: '';
  display: inline-block;
  background: #000;
  width: 100%;
  height: 2px;
  position: relative;
}
@media (min-width: 480px) {
  .title-wrap {
    margin-bottom: 22px;
  }
  .title-wrap .title {
    font-size: 40px;
    padding-right: 13px;
  }
  .title-wrap:after {
    bottom: -2px;
  }
}
@media (min-width: 767px) {
  .title-wrap .title {
    padding-right: 11px;
  }
}
.main-img {
  display: block;
  overflow: hidden;
  color: #000;
  text-decoration: none;
  position: relative;
}
.main-img img {
  position: absolute;
  display: block;
  width: 100%;
}
.main-img:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 65%;
}
.main-img > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 767px) {
  .main-img:after {
    content: '';
    width: 18px;
    height: 9px;
    background: url('../img/arrow-bg.png') no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 49px;
    margin: auto;
  }
}
.date-wrap {
  font-family: 'Noto Serif', serif;
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  text-align: center;
  margin: 5px 6px;
  padding: 6px 8px 8px;
}
.date-wrap span {
  display: block;
}
.date-wrap .date {
  font-size: 18px;
  line-height: 24px;
}
.date-wrap .month {
  font-size: 14px;
  line-height: 16px;
}
@media (min-width: 480px) {
  .date-wrap {
    margin: 10px;
    padding: 5px 8px 8px;
  }
}
@media (min-width: 767px) {
  .date-wrap {
    margin: 20px;
    padding: 16px 40px 28px 38px;
  }
  .date-wrap:after {
    content: '';
    position: absolute;
    top: 35px;
    right: 20px;
    height: 5px;
    width: 3px;
    background: url("../img/arrow.png") no-repeat;
  }
  .date-wrap .date {
    font-size: 36px;
    line-height: 44px;
  }
  .date-wrap .month {
    font-size: 18px;
  }
}
.disc-wrap {
  margin-top: 15px;
  font-size: 13px;
  line-height: 18px;
  display: none;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.main-wrap {
  margin-top: 5px;
}
.main-wrap .right {
  float: right;
  box-sizing: border-box;
}
.main-wrap .left {
  width: 25%;
  float: left;
  padding: 0 3px;
  box-sizing: border-box;
  margin-bottom: 7px;
  position: relative;
}
.main-wrap .left:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 65%;
}
.main-wrap .left > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-wrap .left .content {
  padding: 0 3px;
}
.main-wrap .left img {
  width: 100%;
  display: block;
}
.main-wrap .date-wrap {
  padding: 0 3px;
  margin: 0 0 7px;
  width: 25%;
  max-width: 25%;
  box-sizing: border-box;
  color: #000;
  position: relative;
}
.main-wrap .date-wrap:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 65%;
}
.main-wrap .date-wrap > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-wrap .date-wrap:after {
  content: '';
  position: absolute;
  top: 4.5vw;
  right: 11px;
  height: 5px;
  width: 3px;
  background: url("../img/arrow.png") no-repeat;
}
.main-wrap .date-wrap .date {
  margin-top: 6%;
}
.main-wrap .content {
  line-height: 13vw;
}
.main-wrap .tablet-baner {
  display: none;
}
.main-wrap .phone-baner {
  clear: left;
  position: relative;
  top: 2px;
  margin-bottom: 13px;
  padding: 0 3px;
  display: block;
  color: #000;
  text-decoration: none;
}
.main-wrap .phone-baner .wrap {
  background: #fbf6e8;
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: .4px;
  padding-right: 5px;
}
.main-wrap .phone-baner .title {
  font-size: 13px;
  font-weight: 700;
  display: block;
  margin-top: 5px;
}
.main-wrap .phone-baner .title.grey {
  font-size: 10px;
  color: #bebebe;
  font-weight: 700;
  margin-top: 6px;
  display: inline-block;
}
.main-wrap .phone-baner .ban-body {
  font-size: 12px;
  line-height: 16px;
  position: relative;
  top: 3px;
}
.main-wrap .phone-baner img {
  float: left;
  margin-right: 19px;
}
.main-wrap .row {
  margin-left: -3px;
  margin-right: -3px;
}
@media (min-width: 480px) {
  .main-wrap {
    margin-top: 10px;
  }
  .main-wrap .phone-baner {
    display: none;
  }
  .main-wrap .content {
    padding: 0 5px;
    line-height: 10vw;
  }
  .main-wrap .left {
    width: 20%;
    padding: 0 5px;
    margin-bottom: 11px;
  }
  .main-wrap .left .content {
    padding: 0 5px;
  }
  .main-wrap .banner {
    position: relative;
  }
  .main-wrap .banner:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 137.5%;
  }
  .main-wrap .banner > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .main-wrap .tablet-baner.top {
    display: block;
    width: 37.8%;
    margin-bottom: 19px;
  }
  .main-wrap .tablet-baner.top img {
    width: 100%;
  }
  .main-wrap .date-wrap {
    padding: 0 5px;
    margin-bottom: 11px;
  }
  .main-wrap .date-wrap:after {
    top: 3.5vw;
    right: 15px;
  }
  .main-wrap .date-wrap .date {
    margin-top: 2px;
  }
  .main-wrap .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}
@media (min-width: 767px) {
  .main-wrap {
    margin-top: 15px;
  }
  .main-wrap .content {
    padding: 0 10px;
    line-height: 100px;
  }
  .main-wrap .banner {
    position: relative;
  }
  .main-wrap .banner:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 130%;
  }
  .main-wrap .banner > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .main-wrap .left {
    width: 25%;
    padding: 0 10px;
    margin-bottom: 19px;
    box-sizing: border-box;
  }
  .main-wrap .left .content {
    padding: 0 10px;
    line-height: 77px;
  }
  .main-wrap .right.tablet-baner {
    width: 25%;
    padding: 0 10px 20px;
    margin-bottom: 20px;
    display: block;
  }
  .main-wrap .date-wrap {
    margin: 0;
    min-height: 101px;
  }
  .main-wrap .date-wrap:after {
    top: 38px;
    right: 31px;
  }
  .main-wrap .date-wrap .date {
    margin-top: 18px;
  }
  .main-wrap .row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
.date-wrap.left .align {
  display: inline-block;
  vertical-align: middle;
}
.pagination {
  margin-top: 11px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  padding-bottom: 20px;
}
.pagination .titles {
  display: none;
  color: #848484;
  letter-spacing: .7px;
  margin-right: 19px;
}
.pagination a {
  text-decoration: none;
  color: #000;
  line-height: 33px;
  text-align: center;
  width: 33px;
  height: 33px;
  display: inline-block;
  box-sizing: border-box;
  margin-right: -2px;
}
.pagination a.active {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  background: #e6e6e6;
  border-radius: 50%;
}
.pagination a.next {
  margin-left: 21px;
}
@media (min-width: 480px) {
  .pagination {
    margin-top: 20px;
  }
  .pagination a {
    margin-right: 8px;
  }
  .pagination a.next {
    margin-left: 11px;
  }
  .pagination .titles {
    display: inline-block;
  }
}
@media (min-width: 767px) {
  .pagination {
    margin-top: 11px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */