<section class="header-article">
    <div class="container">
        <div class="title-wrap">
            <span class="title">День в фото</span>
        </div>
        <a href="index.html" class="main-img emerge" id="thing">
            <span class="content">
                <img src="img/bg.jpg" alt="">
                <span class="date-wrap">
                    <span class="date">21</span>
                    <span class="month">сентября</span>
                </span>
            </span>
            <span class="title-photo">Мельницы маленькой деревушки Brandmill близи курортного австрийского города Mayerhoffen. </span>
            <span class="photo-autor">Фото: Reuters</span>
        </a>

    </div>
</section>

<section class="main-wrap emerge" data-await="thing" data-hold="500">
    <div class="container">
        <div class="row clear-fix">
            <article>
                <a href="index.html" class="banner tablet-baner top right emerge" data-hold="800">
                    <span class="content">
                        <img src="img/adidas-ban.jpg" alt="">
                    </span>
                </a>
            </article>

            <article>
                <a href="index.html" class="left emerge" data-continue="true">
                    <span class="content">
                        <img src="img/1.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge" data-continue="true">
                    <span class="content">
                        <img src="img/2.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge" data-continue="true">
                    <span class="content">
                        <img src="img/3.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge" data-continue="true">
                    <span class="content">
                        <img src="img/4.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="phone-baner emerge" data-continue="true">
                    <div class="wrap">
                        <img src="img/phone-ad.jpg" alt="">
                        <span class="title grey">Рекламный тизер</span>
                        <span class="title">Театральная паутина</span>
                        <span class="ban-body">Открытие новых сервисных центров немецкого автопрома</span>
                        <div class="clear-fix"></div>
                    </div>
                </a>
            </article>
            <article>
                <a href="index.html" class="date-wrap left emerge" data-continue="true">
                    <span class="content">
                        <span class="align">
                            <span class="date">20</span>
                            <span class="month">сентября</span>
                        </span>
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge"  >
                    <span class="content">
                        <img src="img/5.jpg" alt="">
                    </span>
                </a>
            </article>

            <article>
                <a href="index.html" class="left emerge"  >
                    <span class="content">
                        <img src="img/6.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge"  >
                    <span class="content">
                        <img src="img/7.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge"  >
                    <span class="content">
                        <img src="img/9.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge"  >
                    <span class="content">
                        <img src="img/8.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="date-wrap left emerge"  >
                    <span class="content">
                        <span class="align">
                            <span class="date">19</span>
                            <span class="month">сентября</span>
                        </span>
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge"  >
                    <span class="content">
                        <img src="img/10.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge"  >
                    <span class="content">
                        <img src="img/11.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge"  >
                    <span class="content">
                        <img src="img/12.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge"  >
                    <span class="content">
                        <img src="img/13.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="date-wrap left emerge"  >
                    <span class="content">
                        <span class="align">
                            <span class="date">18</span>
                            <span class="month">сентября</span>
                        </span>
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge">
                    <span class="content">
                        <img src="img/14.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="banner tablet-baner bottom  right emerge">
                    <span class="content">
                        <img src="img/coke-ban.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge">
                    <span class="content">
                        <img src="img/15.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge">
                    <span class="content">
                        <img src="img/16.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge">
                    <span class="content">
                        <img src="img/17.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>

                <a href="index.html" class="left emerge">
                    <span class="content">
                        <img src="img/18.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="date-wrap left emerge">
                    <span class="content">
                        <span class="align">
                            <span class="date">17</span>
                            <span class="month">сентября</span>
                        </span>
                    </span>
                </a>
            </article>
            <article>

                <a href="index.html" class="left emerge">
                    <span class="content">
                        <img src="img/19.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>

                <a href="index.html" class="left emerge">
                    <span class="content">
                        <img src="img/20.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>

                <a href="index.html" class="left emerge">
                    <span class="content">
                        <img src="img/21.jpg" alt="">
                    </span>
                </a>
            </article>
            <article>
                <a href="index.html" class="left emerge">
                    <span class="content">
                        <img src="img/22.jpg" alt="">
                    </span>
                </a>
            </article>
        </div>
    </div>
</section>

<section class="pagination">
    <div class="container">
        <span class="titles">Страницы:</span>
        <a href="index.html" class="active">1</a>
        <a href="index.html">2</a>
        <a href="index.html">3</a>
        <a href="index.html">4</a>
        <a href="index.html" class="next">Следующая</a>
    </div>
</section>
