@playfair: 'Playfair Display', serif;
@notoserif: 'Noto Serif', serif;
@notosans: 'Noto Sans', sans-serif;

.container {
    padding: 0 5px;
    margin: 0 auto;
    max-width: 768px;

    @media (min-width: 480px) {
        padding: 0 20px;
    }

    @media (min-width: 767px) {
        padding: 0 34px;
    }
}

.clear-fix {
    &:after {
        content: '';
        clear: both;
        display: table;
        width: 100%;
    }
}

.header-article {
    padding-top: 18px;

    @media (min-width: 480px) {
        padding-top: 32px;
    }

    @media (min-width: 767px) {
        padding-top: 29px;
    }

    .title-photo {
        font-family: @notosans;
        font-weight: 700;
        letter-spacing: .47px;
        display: none;
        margin-top: 15px;
        font-size: 13px;
    }

    .photo-autor {
        font-family: @notosans;
        color: #acacac;
        letter-spacing: .2px;
        display: none;
        font-size: 13px;
        margin-top: 4px;
    }

    @media(min-width: 767px) {
        .title-photo,
        .photo-autor {
            display: block;
        }
    }
}

.title-wrap {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    margin-bottom: 13px;

    .title {
        font-family: @playfair;
        font-size: 26px;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 14px;
        text-transform: uppercase;
    }

    &:after {
        content: '';
        display: inline-block;
        background: #000;
        width: 100%;
        height: 2px;
        position: relative;
    }

    @media (min-width: 480px) {
        margin-bottom: 22px;

        .title {
            font-size: 40px;
            padding-right: 13px;
        }

        &:after {
            bottom: -2px;
        }
    }

    @media (min-width: 767px) {
        .title {
            padding-right: 11px;
        }
    }
}

.main-img {
    position: relative;
    display: block;
    overflow: hidden;
    color: #000;
    text-decoration: none;

    img {
        position: absolute;
        display: block;
        width: 100%;
    }
    .aspect-ratio(700,455);
    @media (min-width: 767px){
      &:after{
        content: '';
        width: 18px;
        height: 9px;
        background: url('../img/arrow-bg.png') no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 49px;
        margin: auto;
      }
    }
}

.date-wrap {
    font-family: @notoserif;
    display: inline-block;
    background: rgba(255,255,255,.5);
    position: relative;
    text-align: center;
    margin: 5px 6px;
    padding: 6px 8px 8px;

    span {
        display: block;
    }

    .date {
        font-size: 18px;
        line-height: 24px;
    }

    .month {
        font-size: 14px;
        line-height: 16px;
    }

    @media (min-width: 480px) {
        margin: 10px;
        padding: 5px 8px 8px;
    }

    @media(min-width: 767px) {
        margin: 20px;
        padding: 16px 40px 28px 38px;

        &:after {
            content: '';
            position: absolute;
            top: 35px;
            right: 20px;
            height: 5px;
            width: 3px;
            background: url("../img/arrow.png") no-repeat;
        }

        .date {
            font-size: 36px;
            line-height: 44px;
        }

        .month {
            font-size: 18px;
        }
    }
}

.disc-wrap {
    margin-top: 15px;
    font-size: 13px;
    line-height: 18px;
    display: none;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.main-wrap {
    margin-top: 5px;

    .right {
        float: right;
        box-sizing: border-box;
    }

    .left {
        float: left;
        width: 25%;
        float: left;
        padding: 0 3px;
        box-sizing: border-box;
        margin-bottom: 7px;

        .aspect-ratio(160,104);

        .content {
            padding: 0 3px;
        }

        img {
            width: 100%;
            display: block;
        }
    }

    .date-wrap {
        padding: 0 3px;
        margin: 0 0 7px;
        width: 25%;
        max-width: 25%;
        box-sizing: border-box;
        position: relative;
        color: #000;
        .aspect-ratio(160,104);

        &:after {
            content: '';
            position: absolute;
            top: 4.5vw;
            right: 11px;
            height: 5px;
            width: 3px;
            background: url("../img/arrow.png") no-repeat;
        }

        .date {
            margin-top: 6%;
        }
    }

    .content {
        line-height: 13vw;
    }

    .tablet-baner {
        display: none;
    }

    .phone-baner {
        clear: left;
        position: relative;
        top: 2px;
        margin-bottom: 13px;
        padding: 0 3px;
        display: block;
        color: #000;
        text-decoration: none;

        .wrap {
            background: #fbf6e8;
            font-size: 10px;
            font-family: @notosans;
            letter-spacing: .4px;
            padding-right: 5px;
        }

        .title {
            display: block;
            font-size: 13px;
            font-weight: 700;
            display: block;
            margin-top: 5px;

            &.grey {
                font-size: 10px;
                color: #bebebe;
                font-weight: 700;
                margin-top: 6px;
                display: inline-block;
            }
        }

        .ban-body {
            font-size: 12px;
            line-height: 16px;
            position: relative;
            top: 3px;
        }

        img {
            float: left;
            margin-right: 19px;
        }
    }

    .row {
        margin-left: -3px;
        margin-right: -3px;
    }

    @media (min-width: 480px) {
        margin-top: 10px;

        .phone-baner {
            display: none;
        }

        .content {
            padding: 0 5px;
            line-height: 10vw;
        }

        .left {
            width: 20%;
            padding: 0 5px;
            margin-bottom: 11px;

            .content {
                padding: 0 5px;
            }
        }

        .banner {
            .aspect-ratio(160,220);
        }

        .tablet-baner.top {
            display: block;
            width: 37.8%;
            // padding: 0 5px 33px 5px;
            margin-bottom: 19px;

            img {
                width: 100%;
            }
        }

        .date-wrap {
            padding: 0 5px;
            margin-bottom: 11px;

            &:after {
                top: 3.5vw;
                right: 15px;
            }

            .date {
                margin-top: 2px;
            }
        }

        .row {
            margin-left: -5px;
            margin-right: -5px;
        }
    }

    @media (min-width: 767px) {
        margin-top: 15px;

        .content {
            padding: 0 10px;
            line-height: 100px;
        }
        .banner {
            .aspect-ratio(160,208);
        }

        .left {
            width: 25%;
            padding: 0 10px;
            margin-bottom: 19px;
            box-sizing: border-box;

            .content {
                padding: 0 10px;
                line-height: 77px;
            }
        }

        .right.tablet-baner {
            width: 25%;
            padding: 0 10px 20px;
            margin-bottom: 20px;
            display: block;
        }

        .date-wrap {
            margin: 0;
            min-height: 101px;

            &:after {
                top: 38px;
                right: 31px;
            }

            .date {
                margin-top: 18px;
            }
        }

        .row {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
}

.date-wrap.left {
    .align {
        display: inline-block;
        vertical-align: middle;
    }
}

.pagination {
    margin-top: 11px;
    font-family: @notosans;
    font-size: 13px;
    padding-bottom: 20px;

    .titles {
        display: none;
        color: #848484;
        letter-spacing: .7px;
        margin-right: 19px;
    }

    a {
        text-decoration: none;
        color: #000;
        line-height: 33px;
        text-align: center;
        width: 33px;
        height: 33px;
        display: inline-block;
        box-sizing: border-box;
        margin-right: -2px;

        &.active {
            font-family: @notosans;
            font-weight: 700;
            background: #e6e6e6;
            border-radius: 50%;
        }

        &.next {
            margin-left: 21px;
        }
    }

    @media (min-width: 480px) {
        margin-top: 20px;

        a {
            margin-right: 8px;

            &.next {
                margin-left: 11px;
            }
        }

        .titles {
            display: inline-block;
        }
    }

    @media (min-width: 767px) {
        margin-top: 11px;
        font-family: @notosans;
        font-size: 13px;
    }
}
